<!-- Footer PPM -->
<footer style="background-color: var(--primary-color);">
  <div class="container py-5">
    <div class="row">

      <!-- Logo + Motto -->
      <div class="col-md-4 mb-4">
        <div class="d-flex align-items-center">
          <a href="index.html">
            <img src="../assets/img/white-ppm.svg" width="40" height="52" alt="PPM AFM Logo">
          </a>
          <span class="poppins-medium ms-2 mb-md-0 text-white">PPM AFM &copy; 2025</span>
        </div>
        <p class="text-white mt-3 poppins-light-italic small">"Sebaik-baiknya kalian adalah yang mengejar dunia dan
          akhirat."</p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4 mb-4">
        <h6 class="text-white poppins-semibold">Tautan Langsung</h6>
        <ul class="list-unstyled poppins-regular">
          <li><a href="about.html" class="text-white text-decoration-none">Tentang AFM</a></li>
          <li><a href="structure.html" class="text-white text-decoration-none">Struktur Kepengurusan</a></li>
          <li><a href="facilities.html" class="text-white text-decoration-none">Fasilitas</a></li>
          <li><a href="pendaftaran_santri_baru.html" class="text-white text-decoration-none">Pendaftaran</a></li>
        </ul>
      </div>

      <!-- Contact + Sosmed -->
      <div class="col-md-4">
        <h6 class="text-white poppins-semibold">Hubungi kami</h6>
        <p class="text-white mb-1 poppins-regular">Jl. Sawo No.33b, Pondok Cina, Depok</p>
        <p class="text-white mb-1 poppins-regular">No. Telepon: +62 858-8268-5011</p>
        <p class="text-white mb-3 poppins-regular">Email: ppm.alfaqihmandiri[AT]gmail.com</p>
        <div class="d-flex">
          <a class="text-white me-3" href="https://www.linkedin.com/company/ppm-al-faqih-mandiri/">
            <i class="bi bi-linkedin" style="font-size: 1.5rem;"></i>
          </a>
          <a class="text-white me-3" href="https://www.instagram.com/ppm.afm/">
            <i class="bi bi-instagram" style="font-size: 1.5rem;"></i>
          </a>
          <a class="text-white" href="https://www.youtube.com/channel/UCBnBDmVo4t0isb5loPTdU-A">
            <i class="bi bi-youtube" style="font-size: 1.5rem;"></i>
          </a>
        </div>
      </div>

      <hr class="border-light mt-4">
      <p class="text-center text-white small poppins-medium">Dibuat dengan ❤️ oleh Mahasiswa AFM | Terdaftar di
        Kementerian Agama Republik Indonesia 2020</p>

    </div>
  </div>
</footer>