<!-- Navbar PPM -->
<header>
  <nav class="navbar smart-scroll navbar-expand-lg fixed-top">
    <div class="container">

      <!-- Logo -->
      <a class="navbar-brand fs-18 d-flex align-items-center fw-500" style="color: white;" href="index.html">
        <img src="assets/img/logo-ppm.png" alt="Logo" width="30" height="24"
          class="d-inline-block align-text-top me-2">
        PPM Al-Faqih Mandiri
      </a>

      <!-- Nav Menu -->
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel" data-bs-target="#navbar-example">
        <div class="offcanvas-header">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active fs-14" aria-current="page" href="index.html">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-14" aria-current="page" href="about.html">Tentang AFM</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fs-14" href="#" role="button" data-bs-toggle="dropdown">
                Struktur
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item fs-14" href="structure.html">Struktur Kepengurusan</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item fs-14" href="divisions.html">Divisi di PPM</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link fs-14" aria-current="page" href="facilities.html">Fasilitas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-14" aria-current="page" href="article.html">Artikel AFM</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link fs-14" aria-current="page" href="controlling.html">Kontrolling</a>
            </li> -->
          </ul>
        </div>
      </div>

      <!-- Hamburger BTN -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-expanded="false" aria-label="Toggle navigation"
        style="border: 1px solid white;">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </nav>
</header>